#!/bin/bash
DEST={{ remote_ib_ip }}
SRC={{ host_ib_ip }}
TAG={{ results_tag | default("$SRC-$DEST-$(date +%Y%m%d-%H%M%S)") }}
OPENMPI={{ openmpi_lib_path | default("/usr/lib64/openmpi3") }}
FLAGS="--allow-run-as-root -np 2"
MCA="-mca btl_openib_if_include mlx5_{{ host_ib_devnb }} -mca plm_rsh_agent "
SSH="ssh -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
mpirun $FLAGS -host $SRC,$DEST $MCA "$SSH" $OPENMPI/bin/mpitests-osu_bw 2>&1 |tee log-mpibw-$TAG.txt
mpirun $FLAGS -host $SRC,$DEST $MCA "$SSH" $OPENMPI/bin/mpitests-osu_bibw 2>&1 |tee log-mpibibw-$TAG.txt
mpirun $FLAGS -host $SRC,$DEST $MCA "$SSH" $OPENMPI/bin/mpitests-osu_latency 2>&1 |tee log-mpilat-$TAG.txt
