---
- name: Ensure script dir exists
  file: path="/var/lib/jenkins/scripts" state=directory

- name: Copy the helper scripts to Jenkins Master's script dir
  copy:
          src: "{{ item }}"
          dest: "/var/lib/jenkins/scripts/"
          owner: root
          group: root
          mode: u=rx,g=rx,o=rwx
  with_items:
          - "files/provisioning.py"
          - "files/tarball_cacher.py"

- name: Copy yaml job definition(s)
  copy:
      src: "files/{{ item }}.yml"
      dest: "/var/lib/jenkins/scripts/"
  with_items:
          - provisioning_job
          - machine_provision
          - os_provision
          - benchmark_job
          - ohpc_install
          - ohpc_test_suite
          - cluster_provision

- name: Create jobs in Jenkins
  shell: "jenkins-jobs update /var/lib/jenkins/scripts/{{ item }}.yml"
  with_items:
          - provisioning_job
          - machine_provision
          - os_provision
          - benchmark_job
          - ohpc_install
          - ohpc_test_suite
          - cluster_provision
