#!/bin/bash

  export PYTHON_BIN_PATH="{{ venv_path }}/bin/python3"
  export PYTHON_LIB_PATH="{{ venv_path }}/lib/python3.6/site-packages/"

  export TF_NEED_GCP=0
  export TF_NEED_CUDA=0
  export TF_NEED_HDFS=0
  export TF_NEED_OPENCL=0
  export TF_NEED_JEMALLOC=1
  export TF_ENABLE_XLA=0
  export TF_NEED_VERBS=0
  export TF_CUDA_CLANG=0
  export TF_NEED_MKL=0
  export TF_DOWNLOAD_MKL=0
  export TF_NEED_AWS=0
  export TF_NEED_MPI=0
  export TF_NEED_GDR=0
  export TF_NEED_S3=0
  export TF_NEED_OPENCL_SYCL=0
  export TF_SET_ANDROID_WORKSPACE=0
  export TF_NEED_COMPUTECPP=0
  #export TF_SET_ANDROID_WORKSPACE=0
  export TF_NEED_KAFKA=0
  export TF_NEED_TENSORRT=0
  export TF_NEED_ROCM=0
  export TF_DOWNLOAD_CLANG=0

  # when using NCCL you need to install it own your own
  export GCC_HOST_COMPILER_PATH="{{ ohpc_toolchain_base_dir }}/bin/gcc"
  export HOST_C_COMPILER=$GCC_HOST_COMPILER_PATH
  export PREFIX="{{ ohpc_toolchain_base_dir }}"
  export CC_OPT_FLAGS="-march=native"

source {{ venv_path }}/bin/activate && {{ tensorflow_configure }}
