--- numpy/core/src/npymath/npy_math_complex.c.src.orig	2019-10-07 14:22:00.073904595 +0100
+++ numpy/core/src/npymath/npy_math_complex.c.src	2019-10-07 14:22:11.185036951 +0100
@@ -1385,7 +1385,7 @@
 #endif
 
 #ifndef HAVE_CACOSH@C@
-@ctype@
+@ctype@ __attribute__((optimize("-O0")))
 npy_cacosh@c@(@ctype@ z)
 {
     /*
